
<br/>
<a target="_blank" href="https://instagram.com/bornin4march">
  <img id = "ig" src="https://img.shields.io/badge/Instagram-E4405F?style=flat-square&logo=instagram&logoColor=white" />
</a>
<a target="_blank" href="mailto:supreme034@korea.ac.kr?subject=Hello%20Ileri,%20From%20Github">
  <img id ="gmail" src="https://img.shields.io/badge/gmail-%23D14836.svg?&style=flat-square&logo=gmail&logoColor=white" />
</a>
<style>
img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
  justify-content: center;
}
#ig{
  width: 40%;  
}
#gmail{
  width: 30%;  
  height: 30%;
}
</style>
